gbRawData
gbReleaseData
releaseData
sourceData
hPrecUnstand
tmp
git-lfs
**/.DS_Store

#For action pulls
geoBoundaryBot
dta

#Generic bits
# Folder view configuration files
.DS_Store
Desktop.ini
*.log

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
