sourceData/gbOpen/FRA_ADM5.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/GBR_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/GBR_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/PHL_ADM1.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/PHL_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/AUS_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/AUT_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/AUT_ADM4.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/BGD_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/BGD_ADM4.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/BRA_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/COL_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/CZE_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/CZE_ADM4.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/ESP_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/ESP_ADM4.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/FRA_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/FRA_ADM4.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/GBR_ADM1.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/IDN_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/IRL_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/ITA_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/MEX_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/NOR_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/NZL_ADM0.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/NZL_ADM1.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/NZL_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/NZL_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/PAN_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/POL_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/PRT_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/ROU_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/RUS_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/RUS_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/THA_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/UKR_ADM3.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/USA_ADM2.zip filter=lfs diff=lfs merge=lfs -text
sourceData/gbOpen/ZAF_ADM4.zip filter=lfs diff=lfs merge=lfs -text
