on:
  pull_request:
    types: 
      [opened, synchronize, reopened, edited, review_requested, labeled]
    paths:    
      - 'sourceData/**'
jobs:
  geoBoundaryZipfileChecks:
    runs-on: ubuntu-latest
    container: osgeo/gdal:ubuntu-small-latest
    steps:
    - name: Initialize Linux Environment
      run: |
           apt-get update
           apt-get install -y software-properties-common
           add-apt-repository ppa:git-core/ppa
           apt-get update
           apt-get install -y git
           curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
           apt-get install git-lfs
    
    - name: Download Repository Code
      uses: actions/checkout@v2.3.2
      with:
        lfs: False
        fetch-depth: 0

    - id: changes
      name: Detect Proposed Changes
      uses: wmgeolab/get-changed-files@master
      with:
        format: 'json'
      
      
    - name: Check for valid files in submission
      run: |
           export changes=${{ steps.changes.outputs.added_modified }}
           export gitsha=${{github.sha}}
           echo ${GITHUB_SHA}
           echo ${GITHUB_WORKSPACE}
           echo "==============================================="
           git diff-tree --no-commit-id --name-only -r ${{github.sha}} > proposedChanges
           cat proposedChanges
           echo "==============================================="
           mkdir tmp
           mkdir tmp/${{github.sha}}
           python actions/gbZipCheck.py
      
    - name: Push logs to Preview Repository
      uses: cpina/github-action-push-to-another-repository@v1.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: "tmp"
        destination-github-username: "DanRunfola"
        destination-repository-name: "gbReleasePreviews"
        destination-repository-username: "wmgeolab"
        user-email: "dan@danrunfola.com"
        target-branch: ${{ github.sha }}
  
  geoBoundaryMetaDataCheck:
      runs-on: ubuntu-latest
      container: osgeo/gdal:ubuntu-small-latest
      steps:
      - name: Initialize Linux Environment
        run: |
             apt-get update
             apt-get install -y software-properties-common
             add-apt-repository ppa:git-core/ppa
             apt-get update
             apt-get install -y git
             curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
             apt-get install git-lfs
      
      - name: Download Repository Code
        uses: actions/checkout@v2.3.2
        with:
          lfs: False
          fetch-depth: 0
  
      - id: changes
        name: Detect Proposed Changes
        uses: wmgeolab/get-changed-files@master
        with:
          format: 'json'
        
        
      - name: Check for valid metadata in submission files
        run: |
             export changes=${{ steps.changes.outputs.added_modified }}
             export gitsha=${{github.sha}}
             echo ${GITHUB_SHA}
             echo ${GITHUB_WORKSPACE}
             echo "==============================================="
             git diff-tree --no-commit-id --name-only -r ${{github.sha}} > proposedChanges
             cat proposedChanges
             echo "==============================================="
             mkdir tmp
             mkdir tmp/${{github.sha}}
             python actions/gbMetaCheck.py
        
      - name: Push logs to Preview Repository
        uses: cpina/github-action-push-to-another-repository@v1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: "tmp"
          destination-github-username: "DanRunfola"
          destination-repository-name: "gbReleasePreviews"
          destination-repository-username: "wmgeolab"
          user-email: "dan@danrunfola.com"
          target-branch: ${{ github.sha }}
    
  geoBoundaryDataCheck:
      runs-on: ubuntu-latest
      container: osgeo/gdal:ubuntu-small-latest
      steps:
      - name: Initialize Linux Environment
        run: |
              apt-get update
              apt-get install -y software-properties-common
              add-apt-repository ppa:git-core/ppa
              apt-get update
              apt-get install -y git
              curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
              apt-get install -y git-lfs
              apt-get install -y python3-pip
              pip3 install geopandas
      
      - name: Download Repository Code
        uses: actions/checkout@v2.3.2
        with:
          lfs: False
          fetch-depth: 0
  
      - id: changes
        name: Detect Proposed Changes
        uses: wmgeolab/get-changed-files@master
        with:
          format: 'json'
        
        
      - name: Check for valid data in submission files
        run: |
              export changes=${{ steps.changes.outputs.added_modified }}
              export gitsha=${{github.sha}}
              echo ${GITHUB_SHA}
              echo ${GITHUB_WORKSPACE}
              echo "==============================================="
              git diff-tree --no-commit-id --name-only -r ${{github.sha}} > proposedChanges
              cat proposedChanges
              echo "==============================================="
              mkdir tmp
              mkdir tmp/${{github.sha}}
              python actions/gbDataCheck.py
      
      - name: Push logs to Preview Repository
        uses: cpina/github-action-push-to-another-repository@v1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: "tmp"
          destination-github-username: "DanRunfola"
          destination-repository-name: "gbReleasePreviews"
          destination-repository-username: "wmgeolab"
          user-email: "dan@danrunfola.com"
          target-branch: ${{ github.sha }}

