on:
  workflow_dispatch
  #push:
  #  paths:    
  #  - 'website/geoBoundaries/**'
name: zWEB_gB
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - name: Download Changes
      run: |
           cd $GITHUB_WORKSPACE
           cd ..
           rm -r geoBoundaries
           git clone --filter=blob:none --no-checkout https://github.com/wmgeolab/geoBoundaries
           echo "=============="
           cd geoBoundaries
           echo "=============="
           git sparse-checkout set "website/"
           git sparse-checkout add ".gitattrbutes"
           git sparse-checkout add ".gitignore"
           git checkout 
             
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@3.1.1
      with:
        ftp-server: ftp://ftp.geoboundaries.org/geoboundaries.org/
        ftp-username: geologs
        ftp-password: ${{ secrets.FTP_PASSWORD }}
        local-dir: website/geoBoundaries
        #git-ftp-args: --dry-run

